* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Style the body */
body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url("https://images.unsplash.com/photo-1547714695-bed5d1fef848?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODd8fGhlYWx0aHklMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  margin: 0;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  height: 50%;
}
body,
html {
  height: 80vh;
}
.article-one-box h2 {
  color: rgb(207, 83, 83);
  font-weight: bold;
  font-size: 2rem;
}

main {
  min-height: 100vh;
  margin-bottom: -20px;
}

/*header*/
/*navbar*/

.navbar {
  background-color: rgb(204, 77, 77);
  display: flex;
  justify-content: center;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  font-size: 15px;
  padding: 15px 20px;
  text-decoration: none;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgb(31, 35, 94);
  color: rgb(255, 255, 255);
}
.header-box {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: rgba(161, 117, 87, 0.4);
}
.header-box h2 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px #ff0000;
}
.header-box h5 {
  color: rgb(194, 170, 170);
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
}
.header-box p {
  font-weight: bold;
  font-size: large;
  color: rgb(235, 235, 241);
}
.article-one-box h2 {
  font-size: 20px;
  margin-left: 20px;

  padding: 10px;
}
.article-one-box p {
  font-size: 16px;
  color: white;
  margin-left: 20px;
}
.article-one-box {
  height: fit-content;
  height: auto;
  width: 380px;
  background-color: rgba(68, 54, 151, 0.363);
}

/*.leftcolumn {
  float: left;
  width: 75%;
  margin: 30px;
}

/* Right column 
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}



/* Add a card effect for articles */

form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 159, 91, 0.76);
}
form h5 {
  font-size: 16px;
  margin: 20px;
}
#input1,
#input2 {
  width: 150px;
  height: 30px;

  margin: 5px;
}
.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  width: 150px;
  height: 25px;
  background-color: rgb(173, 48, 86);
  margin: 8px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
}

/* Clear floats after the columns */

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}
body.Desktop-nav {
  display: none;
}
#creditCard,
#cvv,
#exp-month,
#exp-year {
  margin-top: 5px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 768px) {
  body.Mobile-nav {
    display: none;
  }
  .navbar {
    display: flex;
    width: 100vw;
  }
  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main.article-one-box {
    margin-right: 100px;
  }
  .Buttons {
    margin-left: 20px;
  }
}
@media screen and(min-width: 900px) {
  body img {
    height: 100%;
  }
  .box {
    display: flex;
    flex-direction: row;
  }
}
